.todolist {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 10px auto;
}

.task-form {
  margin-bottom: 20px;
}

.task-form input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.task-form button:hover {
  background-color: #0056b3;
}

.filter-buttons {
  margin: 20px 0;
}

.filter-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.filter-btn:hover {
  background-color: #0056b3;
}

.container {
  max-width: 600px;
  margin: 10px auto;
}

.item {
  display: flex;
  gap: 20px;
  padding: 10px;
  align-content: center;
}
.item-description {
  flex: 1;
}
.button {
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
}
